<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>L'Atelier des Poètes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="appPoesie" ng-controller="poesieCtrl">
    <div class="header">
        <h1>L'&nbsp;&nbsp;Atelier des Poètes</h1>
        <input id="searchButton" type="submit" name="button" value="Commencer un poème !">
        <!-- <div class="categories">
            <div class="category" ng-repeat="category in categories" ng-click="select()" ng-class="{'active': category.status, 'inactive':category.status == false, 'error': error}">
                <p>{{category.name}}</p>
            </div>
        </div> -->
    </div>


    <div id="wrapper">
        <form id="paper" method="get" action="">
            <div id="margin">
                <input placeholder="Ecrivez votre titre ici..." autocomplete="off" ng-model="titre" id="titre" type="text" name="title">
            </div>
            <textarea placeholder="Commencez votre poème ici..." ng-keypress="myFunct($event, word)" id="text" ng-model="word" name="text" rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px;"></textarea>
            <br>
            <input id="button" ng-show="!custom" type="button" value="Voir le resultat" ng-click="toggleCustom()">
            <input id="button" ng-show="custom" type="button" value="Retourner dans l'atelier" ng-click="toggleCustom()">

        </form>
    </div>



    <div id="restit" ng-show="custom">
        <h1>{{titre}}</h1>
        <pre id="poeme">
            {{word}}
        </pre>
    </div>

    <div id="result" ng-show="!custom">
        <div class="containerWidth">
            <div class="resultContainer">
                <h1>Anagrammes:</h1>
                <div class="anagramme" ng-repeat="anagramme in ana track by $index">
                    <p>{{anagramme}}</p>
                </div>
            </div>
        </div>
        <div class="containerWidth">
            <div class="resultContainer">
                <h1>Synonymes:</h1>
                <div class="synonyme" ng-repeat="synonyme in syno track by $index">
                    <p> {{synonyme}}</p>
                </div>
            </div>
        </div>
        <div class="containerWidth">
            <div class="resultContainer">
                <h1>Rimes:</h1>
                <div class="rime" ng-repeat="rime in rimes track by $index">
                    <p>{{rime}}</p>
                </div>
            </div>
        </div>
        <div class="containerWidth">
            <div class="resultContainer">
                <h1>Homophones:</h1>
                <div class="hommophone" ng-repeat="homophone in homo track by $index">
                    <p>{{homophone}}</p>
                </div>
            </div>
        </div>
        <div class="containerWidth">
            <div class="resultContainer">
                <h1>Antonymes:</h1>
                <div class="hommophone" ng-repeat="antonyme in anto track by $index">
                    <p>{{antonyme}}</p>
                </div>
            </div>
        </div>

    </div>


    <!-- name: Poetic Box, Poetiquement Correct, La boite a Poesie, Poetry Hunter -->



    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/jq.js"></script>
</body>

</html>
